API_URL=
CLIENT_URL=
TRUST_PROXY=
# Example (Render):
# API_URL=https://streak-api-docker.onrender.com
# CLIENT_URL=
# TRUST_PROXY=1
MONGO_URI=
GOOGLE_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
LIBREOFFICE_PATH=
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_AUTH_URI=
FIREBASE_TOKEN_URI=
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=
FIREBASE_CLIENT_X509_CERT_URL=
FIREBASE_UNIVERSE_DOMAIN=
CALENDAR_ODD_PUBLIC_ID=
CALENDAR_EVEN_PUBLIC_ID=
